/tt.py


/photo/*
!/photo/keanuReeves.jpg
!/photo/keanuReeves2.jpg
!/photo/benedictCumberbatch.jpg
!/photo/chrisEvans.jpg
!/photo/tomCruise.jpg

/shapePredictor/shape_predictor_81_face_landmarks-master
/shapePredictor/zip

/realTimeFacialLandmark.py

.*
!/.gitignore
_*_

